<div class="example-container">
    <mat-form-field>
        <input matInput placeholder="Nombre" [(ngModel)]="producto.nombre">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Marca" [(ngModel)]="producto.marca">
    </mat-form-field>
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>