<mat-toolbar>Productos</mat-toolbar>

<div class="example-container mat-elevation-z8">

    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar producto">
        </mat-form-field>
    </div>

    <mat-table [dataSource]="datasource" matSort>


        <ng-container matColumnDef="idProducto">
            <mat-header-cell *matHeaderCellDef mat-sort-header> IdProducto </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.idProducto}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="marca">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.marca}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-button color="primary" (click)="openDialog(row)">Actualizar</button>
                <button mat-button color="accent" (click)="eliminar(row)">Eliminar</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<br>

<button mat-fab color="accent" (click)="openDialog()" style="float: right; margin-right: 20px">
  <mat-icon>create</mat-icon>
</button>